<div fxLayout="column" fxLayoutAlign="center center">
    <div class="intro platter-background" fxLayout="column" fxLayoutAlign="center center">
          <div ngClass="mat-display-4" ngClass.xs="mat-display-2">Heat & Eat Meals</div>
          <div ngClass="mat-display-2"  ngClass.xs="mat-display-1">Simple . Flavorful . Healthy</div>
    </div>
    <div fxFlex="0 1 auto" class="body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <h1 align="center">Healthy meals made for you, delivered to you.</h1>
        <br>
        <h3 align="center">​Create your own meals by choosing 6oz or 4oz of protein, 1/2 cup of starch, and 1 cup vegetables. Minimum of 3 meals.</h3>
        <br>
      
        <button mat-raised-button color="primary" *ngIf="!workingMeal" (click)="createNewMeal()">
             Create Meal
         </button>

        <mat-vertical-stepper *ngIf="workingMeal" #stepper fxFlexFill>
            <mat-step [label]="workingMeal.GetProteinSelections()[0] ? workingMeal.GetProteinSelections()[0].name : 'Pick your protein'">
                <mat-slide-toggle>4oz portion</mat-slide-toggle>
                <br><br>
                <app-menu-item-list [items]="proteinItems"
                                    [selectedItems]="workingMeal.GetProteinSelections()"
                                    [remainingSelections]="workingMeal.RemainingProteinSelections()"
                                    (selectItemEvent)="selectMenuItem($event)"></app-menu-item-list>
            </mat-step>
            <mat-step [label]="workingMeal.GetStarchSelections()[0] ? workingMeal.GetStarchSelections()[0].name : 'Pick your starch'">
                <app-menu-item-list [items]="starchItems"
                                    [selectedItems]="workingMeal.GetStarchSelections()"
                                    [remainingSelections]="workingMeal.RemainingStarchSelections()"
                                    (selectItemEvent)="selectMenuItem($event)"></app-menu-item-list>
            </mat-step>
            <mat-step [label]="workingMeal.GetVegetableSelections()[0] ? workingMeal.GetVegetableSelections()[0].name : 'Pick your vegetable'">
                <app-menu-item-list [items]="vegetableItems" 
                                    [selectedItems]="workingMeal.GetVegetableSelections()"
                                    [remainingSelections]="workingMeal.RemainingVegetableSelections()"
                                    (selectItemEvent)="selectMenuItem($event)"></app-menu-item-list>
            </mat-step>
            <mat-step label="Complete Your Meal">
                <p *ngFor="let item of workingMeal.items">{{item.name}}</p>
                <button mat-raised-button color="primary" (click)="addWorkingMealToCart()">Add meal to cart</button>
            </mat-step>
        </mat-vertical-stepper>

          <br><br>

        <mat-chip-list fxFlexAlign="start">
            <mat-chip *ngFor="let meal of cartService.getItems()" color="accent" selected="true" removable="true" (remove)="removeMeal(meal)">
                {{meal.GetName()}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <ng-container *ngFor="let meal of requiredMeals; index as i">
                <mat-chip *ngIf="i >= cartService.getItems().length">
                    {{meal}}
                </mat-chip>
            </ng-container>

         </mat-chip-list>
          <h2 align="center">*Delivery Included in price</h2>
    </div>
</div>
