<div fxLayout="column" fxLayoutAlign="center center">
    <div class="intro platter-background" fxLayout="column" fxLayoutAlign="center center">
          <div ngClass="mat-display-4" ngClass.xs="mat-display-2">Heat & Eat Meals</div>
          <div ngClass="mat-display-2"  ngClass.xs="mat-display-1">Simple . Flavorful . Healthy</div>
    </div>
    <div fxFlex="0 1 auto" class="body" fxLayout="column" fxLayoutAlign="center">
        <h1 align="center">Reheats in 90 seconds</h1>
        <br>
        <h3 align="center">​Create your own meals by choosing 6oz of protein, 1/2 cup of starch, and 1 cup vegetables.</h3>
        <br>
        <h2 align="center">Delivery Included in price</h2>
    </div>

</div>
