<h1 mat-dialog-title>
  Checkout
</h1>
<mat-dialog-content>
  <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="deliveryInfoFormGroup">
        <ng-template matStepLabel>
            Delivery Info
        </ng-template>
        <form [formGroup]="deliveryInfoFormGroup">
            <div fxLayout="column">
                <mat-form-field>
                    <input matInput name="name" type="text" formControlName="name"/>
                    <mat-label>Name</mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="address" type="text" formControlName="address"/>
                    <mat-label>Address</mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="city" type="text" formControlName="city"/>
                    <mat-label>City</mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="state" type="text" formControlName="state"/>
                    <mat-label>State</mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="zip" type="number" formControlName="zip"/>
                    <mat-label>Zip</mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="email" type="text" formControlName="email"/>
                    <mat-label>Email</mat-label>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="phone" type="tel" formControlName="phone"/>
                    <mat-label>Phone</mat-label>
                  </mat-form-field>
            </div>
        </form>
      </mat-step>
      <mat-step  [stepControl]="paymentInfoFormGroup">
          <ng-template matStepLabel>
              Payment Info
          </ng-template>
          <form [formGroup]="paymentInfoFormGroup">
              <div fxLayout="column">
                  <mat-form-field>
                    <input matInput name="name" type="text" formControlName="cardNumber"/>
                    <mat-label>Card Number</mat-label>
                  </mat-form-field>
              </div>
          </form>
      </mat-step>
    </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color=primary>Finish Order</button>
</mat-dialog-actions>