<div fxLayout="column" fxLayoutAlign="center center">
    <div class="intro ribs-background" fxLayout="column" fxLayoutAlign="center center">
          <div ngClass="mat-display-4" ngClass.xs="mat-display-2">Meatery</div>
          <div ngClass="mat-display-2"  ngClass.xs="mat-display-1">Bold . Backyard . BBQ</div>
          <h2>BBQ made from the highest quality ingredients</h2>
          <button mat-button routerLink="/menu"><h2>Place your order</h2></button>
    </div>
    <div fxFlex="0 1 auto" class="body" fxLayout="column" fxLayoutAlign="center">
        <h1 fxFlexAlign="center">About Us</h1>
        <p align="justify">The Meatery BBQ is focused on providing the highest quality barbecue possible.  They
            offer wood fired BBQ seasoned with traditional flavors of garlic, onion, salt, pepper, along with our one of a kind spice rubs and injections. The result is high quality barbecue
            that is unbelievably tender and full of flavor.</p>
        <br>
        <p align="justify">Currently the Meatery BBQ partners with gyms and trainers around Columbus to offer PERFECTLY PORTIONED MEALS which help individuals eat healthy and achieve fitness goals while dealing with the fast pace of every day life.</p>

        <br>
        <p align="justify">
            During fall 2017 the Meatery BBQ will be releasing their full menu of smoked meats and bold flavored side dishes. These items will be delivered directly to your door and will be great for gatherings of all sizes.
        </p>
        <br>
        <p align="justify">Also be on the look out for Meatery BBQ spices, rubs, and sauces at select retail locations and available for purchase online!!</p>

        <br><br>
        <h1 fxFlexAlign="center">Fitness Feast</h1>
          <p align="justify">The Meatery has partnered with select gyms around the Columbus area to offer their members PERFECTLY PORTIONED MEALS, which help individuals eat healthy and achieve fitness goals while dealing with the fast pace of every day life. </p>
          <br>
          <p align="justify">​
              Members create their own healthy meals from a selection of different proteins, starches, and vegetables-including vegan options.</p>

          <br>
          <p align="justify">
              The Meatery uses only the highest quality ingredients, including local when available.
          </p>
          <br>
          <p align="justify">The flavor of the food comes from house made rubs and marinades, creating very flavorful food without butter or other artificial additives. </p>
          <br>
          <p align="justify">Meals are pre-cooked and packaged in microwavable containers making them very fresh tasting and easy to take while on the go.</p>

    </div>

</div>
